// Variables
$orange: #b26300;
$off_white: #f0f0e0;
$text_gray: #8a8a8a;
	
a {
  &:hover {
    color: #4e4e4e;
  }
  &:link {
    text-decoration: none;
    color: $orange;
  }
  &:visited {
    color: #777777;
    &:hover {
      color: #dddddd;
    }
  }
}

#aboutme {
  height: 600px;
  padding-top: 50px;
  background-color: #D4D2C5;
}

#aboutme_pic {
  text-align: center;
}

#aboutme_text {
  background-color: #D4D2C5;
  font-size: 1.1em;
  width: 80%;
  padding-top: 50px;
  line-height: 35px;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  color: $text_gray;
}

#beaker_pic {
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.6;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  transform: rotate(3deg);
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  font-size: 1.0em;
  font-family: 'Lato', sans-serif;
}

#bottom_wrapper {
  opacity: 1;
}

.bullet {
  color: $orange;
}

#contact {
  background-color: #333333;
  padding-top: 100px;
  height: 400px;
  width: 100%;
}

#contact_email {
  padding-top: 125px;
  font-size: 48px;
}

#contact_links {
  text-align: center;
  padding-top: 100px;
  img {
    margin: 0px 5px;
    border: 0px solid $text_gray;
    box-shadow: 0px 0px 3px #cccccc;
    a {
      padding-right: 50px;
    }
  }
}

#contactme a {
  color: $orange;
  font-style: italic;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}

#cp {
  display: none;
}

#experiments {
  text-align: center;
  clear: both;
  padding-top: 30px;
  margin: 0px;
}

#footer {
  clear: both;
  //background-image: url('../img/orange_texture_min.jpg');
  background-color: rgba(178, 99, 0, 0.9);
  background-size: cover;
  height: 200px;
  width: 100%;
  text-align: center;
  line-height: 200px;
  color: $off_white;
  font-size: 1em;
  a {
    color: $orange;
    &:link, &:visited {
      color: #333333;
    }
    &:hover {
      color: $text_gray;
      color: #bbbbbb;
    }
  }
}

#git_pic {
  border-radius: 0%;
  vertical-align: -3px;
  opacity: 0.4;
}

#git_text a {
  color: $orange;
  font-size: 1em;
  &:hover {
    color: #3B3B3B;
  }
}

#header {
  height: 100px;
  width: 100%;
  text-shadow: 0px 0px 1px #555555;
  line-height: 100px;
  text-transform: uppercase;
  color: #f0f0e0;
  border-bottom-width: 2px;
  border-color: #1e1e1e;
  border-bottom-style: ridge;
  box-shadow: 0px 0px 2px #333333;
  a {
    &:visited {
      color: #333333;
    }
    &:hover {
      color: #808080;
    }
    &:link {
      color: #1e1e1e;
    }
  }
}

hr {
  clear: both;
  height: 0px;
  width: 300px;
  border: 1px dotted rgba(0, 0, 0, 0);
  text-align: center;
}

#learnmore a {
  color: $orange;
  font-style: italic;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}

#load_screen {
  display: none;
}

#main {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: #f0f0e0;
}

#main_me_pic {
  border-radius: 7px 0px 7px 0px;
  border: 1px solid #454545;
  box-shadow: 0px 0px 3px #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.7;
  transform: rotate(0deg);
}

#main_road_pic {
  clear: both;
  // background-image: url('../img/road_orange.png');
  background-size: cover;
  height: 500px;
  width: 100%;
  padding-top: 60px;
  font-size: 1em;
  font-weight: 900;
}

#main_road_pic_text {
  padding: 50px 0px;
  font-size: 2.2em;
  color: #fefefe;
  text-shadow: 0px 0px 5px #333;
  text-align: center;
}

#main_text {
  background-color: #f0f0e0;
  font-size: 1.1em;
  width: 70%;
  padding-top: 30px;
  line-height: 35px;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  color: $text_gray;
}

#menu {
  font-size: 1.0em;
  float: right;
  width: 40%;
  background-color: rgba(240, 240, 224, 1.0);
  text-align: center;
  color: #1e1e1e;
  font-weight: 900;
}

#mobile_nav {
  display: none;
}

#mypic {
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px $orange;
  text-align: center;
  display: inline-block;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.parallax-window {
  background: transparent;
}

#personal_skills {
  background-color: #f0f0e0;
  height: auto;
  padding-bottom: 50px;
  padding-top: 100px;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  img {
    box-shadow: 0px 0px 3px #b5b5b5;
    border-radius: 10px;
    border: 2px solid #b5b5b5;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .skills_bottom_text {
    clear: both;
    color: $text_gray;
    padding-top: 50px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    line-height: 35px;
  }
}

#personal_skills_lines {
  float: left;
  height: 430px;
  background-color: #f2f2f2;
  padding-right: 4%;
  width: 45%;
  text-align: right;
  padding-top: 30px;
  color: $text_gray;
  border: 3px;
  border-right: 0px;
  border-color: #dddddd;
  border-style: ridge;
}

#personal_skills_list {
  float: left;
  height: 430px;
  background-color: #f2f2f2;
  padding-left: 4%;
  width: 45%;
  color: $text_gray;
  padding-top: 30px;
  border: 3px;
  border-left: 0px;
  border-color: #dddddd;
  border-style: ridge;
  text-shadow: 0px 0px 0.5px #bbbbbb;
}

#pic_top {
  text-align: center;
  padding: 0px;
  margin: 18px 0px 0px 0px;
  background-color: #f0f0e0;
}

.projects_sites {
  width: 50%;
  padding: 0px 0px;
  text-align: center;
  line-height: 30px;
  float: left;
}

.section_title {
  text-align: center;
  text-shadow: 0px 0px 1px #555;
  width: 100%;
  color: $orange;
  font-size: 1.7em;
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: 400;
  margin-top: 0px;
  text-transform: uppercase;
}

#slide_menu {
  color: #ffffff;
  padding-top: 90px;
  text-align: left;
  padding-left: 40px;
  font-size: 0.8em;
  display: none;
}

.slider_img {
  display: none;
}

#tech_skills {
  font-size: 1.0em;
  background-image: url('../img/cc1.jpg');
  padding-top: 70px;
  height: auto;
  width: 60%;
  padding-bottom: 50px;
  padding-left: 20%;
  padding-right: 20%;
  img {
    box-shadow: 0px 0px 5px #b5b5b5;
    border-radius: 10px;
    border: 2px solid #dddddd;
  }
  .skills_bottom_text {
    clear: both;
    color: $text_gray;
    padding-top: 50px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    line-height: 35px;
  }
}

#tech_skills_lines {
  float: left;
  height: 430px;
  background-color: #333333;
  padding-left: 4%;
  width: 45%;
  padding-top: 30px;
  border: 2px;
  border-left: 0px;
  border-color: #dddddd;
  border-style: ridge;
}

#tech_skills_list {
  float: left;
  height: 430px;
  background-color: #333333;
  padding-right: 4%;
  width: 45%;
  text-align: right;
  padding-top: 30px;
  color: $text_gray;
  border: 2px;
  border-right: 0px;
  border-color: #dddddd;
  border-style: ridge;
  text-shadow: 0px 0px 1px #bbbbbb;
}

.projects_sites img {
  width: 40%;
  opacity: 1;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 50px;
  /*padding-top: 50px;*/
}

#top_lunbery {
  font-weight: 900;
  color: #1e1e1e;
}

#top_name {
  font-size: 2.7em;
  width: 60%;
  text-align: left;
  background-color: rgba(240, 240, 224, 1.0);
  display: inline-block;
}

#top_thomas {
  padding-left: 25px;
  color: $orange;
}

#work {
  background-image: url('../img/white_texture_min.jpg');
  height: auto;
  padding-bottom: 50px;
  padding-top: 100px;
  color: $text_gray;
  padding-right: 10% auto;
  padding-left: 10% auto;
  text-align: center;
  .skills_bottom_text {
    clear: both;
    color: $text_gray;
    padding-top: 50px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    line-height: 35px;
  }
}